@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
body {
  padding: 50px;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00b7ff;
}

.user-modal {
  background-color: darkgray;

  width: 400px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  
}

@media only screen and (max-width: 480px) {
  .user-modal {
    width: auto;
  }
}
