@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
body {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00b7ff;
}

.user-modal {
  background-color: #1e1e1e;

  width: 600px;
  border-radius: 10px;
  padding: 1.5rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}
.discord-images-guide{
  padding: 10rem 10rem;
}
@media only screen and (max-width: 480px) {
  .user-modal {
    width: auto;
  }

  .discord-images-guide{
    padding: 0rem 0rem;
  }

}

.btn-orange {
  background-color: rgb(202, 106, 37);
  color: white;
}

.btn-orange:hover {
  color: whitesmoke;
  background-color: rgb(255, 177, 32);
}

.insturctions {
  text-align: justify;
  text-justify: inter-word;
}
